.prev,.next{cursor:pointer;font-size:50px;font-weight:700;line-height:50px;margin-top:-25px;overflow:hidden;position:absolute;top:50%;z-index:99;width:14.5px;height:50px}
.prev:hover,.next:hover{text-decoration:none}
.prev:focus,.next:focus{outline:0}
.prev [aria-hidden]:before,.prev [aria-hidden]:after,.next [aria-hidden]:before,.next [aria-hidden]:after{position:absolute}
.prev [aria-hidden]:before{content:'\2039';left:0}
.next [aria-hidden]:before{content:'\203A';right:0}
html.RTL .prev [aria-hidden]:before{content:'\203A';left:0}
html.RTL .next [aria-hidden]:before{content:'\2039';right:0}
.background-yellow{background-color:#f90}
.text-yellow{color:#f90}
.background-red{background-color:#c00}
.text-red{color:#c00}
.background-green{background-color:#4c8c2b}
.text-green{color:#4c8c2b}
.background-plum{background-color:#820f71}
.text-plum{color:#820f71}
.background-violet{background-color:#514689}
.text-violet{color:#514689}
.background-orange{background-color:#e35205}
.text-orange{color:#e35205}
.background-teal{background-color:#008e96}
.text-teal{color:#008e96}
.background-white{background-color:white}
.text-white{color:white}
.background-black{background-color:black}
.text-black{color:black}
.background-gray-light{background-color:#dbdcdc}
.text-gray-light{color:#dbdcdc}
.background-gray{background-color:#d0d3d4}
.text-gray{color:#d0d3d4}
.background-gray-dark{background-color:#a2aaac}
.text-gray-dark{color:#a2aaac}
.background-grey{background-color:#a2aaac}
.text-grey{color:#a2aaac}
.background-grey-light{background-color:#d0d3d4}
.text-grey-light{color:#d0d3d4}
.background-grey-lighter{background-color:#f4f4f4}
.text-grey-lighter{color:#f4f4f4}
.background-grey-dark{background-color:#5b6770}
.text-grey-dark{color:#5b6770}
.background-grey-darker{background-color:#333}
.text-grey-darker{color:#333}
*{word-wrap:break-word}
.btn{border:0;color:white;display:inline-block;font-size:16px;font-weight:700;letter-spacing:1px;padding:12px 30px;position:relative;text-transform:uppercase}
.btn.cta{font-size:16px}
.btn.no-icon{padding-left:30px}
.btn span{white-space:normal}
.btn span.btn-cta{display:none !important;height:100%;padding:7px;position:absolute;top:0;right:0;width:42px}
.btn span.btn-cta span{width:25px;height:25px;display:block;background-repeat:no-repeat;background-size:13px;background-position:6px 6px;border-radius:25px;position:absolute;top:50%;margin-top:-13px}
.btn span.btn-cta span.icon-default{background-image:url(../images/buttons/cta-default.png)}
.btn span.btn-cta span.icon-article-modal{background-image:url(../images/buttons/cta-new-window.png)}
.btn span.btn-cta span.icon-download{background-image:url(../images/buttons/cta-download.png)}
.btn span.btn-cta span.icon-new-window{background-image:url(../images/buttons/cta-new-window.png)}
.btn span.btn-cta span.icon-search{background-image:url(../images/buttons/cta-search.png)}
.btn span.btn-cta span.icon-email{background-image:url(../images/buttons/cta-email.png)}
.btn span.btn-cta span.icon-close{background-image:url('../images/close-x-white.png')}
.btn.btn-sm{font-size:14px;padding:10px 8px !important}
.btn:hover{cursor:pointer}
.btn.btn-default,.btn.gray{background-color:#a2aaac;color:white}
.btn.btn-default:hover,.btn.gray:hover{background-color:#717678;color:white}
.btn.btn-default:hover .btn-cta,.btn.gray:hover .btn-cta{background-color:#717678}
.btn.btn-default .btn-cta,.btn.gray .btn-cta{background-color:#a2aaac;border-left:1px solid #696e6f}
.btn.btn-default .btn-cta span,.btn.gray .btn-cta span{background-color:#696e6f}
html.RTL .btn.btn-default .btn-cta,html.RTL .btn.gray .btn-cta{border-right:1px solid #696e6f}
.btn.btn-primary,.btn.red{background-color:#c00;color:white}
.btn.btn-primary:hover,.btn.red:hover{background-color:#8e0000;color:white}
.btn.btn-primary:hover .btn-cta,.btn.red:hover .btn-cta{background-color:#8e0000}
.btn.btn-primary .btn-cta,.btn.red .btn-cta{background-color:#c00;border-left:1px solid #840000}
.btn.btn-primary .btn-cta span,.btn.red .btn-cta span{background-color:#840000}
html.RTL .btn.btn-primary .btn-cta,html.RTL .btn.red .btn-cta{border-right:1px solid #840000}
.btn.gray-dark{background-color:#5b6770;color:white}
.btn.gray-dark:hover{background-color:#3f484e;color:white}
.btn.gray-dark:hover .btn-cta{background-color:#3f484e}
.btn.gray-dark .btn-cta{background-color:#5b6770;border-left:1px solid #3b4248}
.btn.gray-dark .btn-cta span{background-color:#3b4248}
html.RTL .btn.gray-dark .btn-cta{border-right:1px solid #3b4248}
.btn.white{background-color:white;color:white;color:black}
.btn.white:hover{background-color:#b2b2b2;color:white}
.btn.white:hover .btn-cta{background-color:#b2b2b2}
.btn.white .btn-cta{background-color:white;border-left:1px solid #a5a5a5}
.btn.white .btn-cta span{background-color:#a5a5a5}
html.RTL .btn.white .btn-cta{border-right:1px solid #a5a5a5}
.btn.white:hover{color:black}
.btn.teal{background-color:#008e96;color:white}
.btn.teal:hover{background-color:#006369;color:white}
.btn.teal:hover .btn-cta{background-color:#006369}
.btn.teal .btn-cta{background-color:#008e96;border-left:1px solid #005c61}
.btn.teal .btn-cta span{background-color:#005c61}
html.RTL .btn.teal .btn-cta{border-right:1px solid #005c61}
.btn.violet{background-color:#514689;color:white}
.btn.violet:hover{background-color:#38315f;color:white}
.btn.violet:hover .btn-cta{background-color:#38315f}
.btn.violet .btn-cta{background-color:#514689;border-left:1px solid #342d59}
.btn.violet .btn-cta span{background-color:#342d59}
html.RTL .btn.violet .btn-cta{border-right:1px solid #342d59}
.btn.plum{background-color:#820f71;color:white}
.btn.plum:hover{background-color:#5b0a4f;color:white}
.btn.plum:hover .btn-cta{background-color:#5b0a4f}
.btn.plum .btn-cta{background-color:#820f71;border-left:1px solid #540949}
.btn.plum .btn-cta span{background-color:#540949}
html.RTL .btn.plum .btn-cta{border-right:1px solid #540949}
.btn.orange{background-color:#e35205;color:white}
.btn.orange:hover{background-color:#9e3903;color:white}
.btn.orange:hover .btn-cta{background-color:#9e3903}
.btn.orange .btn-cta{background-color:#e35205;border-left:1px solid #933503}
.btn.orange .btn-cta span{background-color:#933503}
html.RTL .btn.orange .btn-cta{border-right:1px solid #933503}
.btn.green{background-color:#4c8c2b;color:white}
.btn.green:hover{background-color:#35621e;color:white}
.btn.green:hover .btn-cta{background-color:#35621e}
.btn.green .btn-cta{background-color:#4c8c2b;border-left:1px solid #315b1b}
.btn.green .btn-cta span{background-color:#315b1b}
html.RTL .btn.green .btn-cta{border-right:1px solid #315b1b}
.btn.yellow{background-color:#f90;color:white}
.btn.yellow:hover{background-color:#b26b00;color:white}
.btn.yellow:hover .btn-cta{background-color:#b26b00}
.btn.yellow .btn-cta{background-color:#f90;border-left:1px solid #a56300}
.btn.yellow .btn-cta span{background-color:#a56300}
html.RTL .btn.yellow .btn-cta{border-right:1px solid #a56300}
.btn.grey{background-color:#a2aaac;color:white}
.btn.grey:hover{background-color:#717678;color:white}
.btn.grey:hover .btn-cta{background-color:#717678}
.btn.grey .btn-cta{background-color:#a2aaac;border-left:1px solid #696e6f}
.btn.grey .btn-cta span{background-color:#696e6f}
html.RTL .btn.grey .btn-cta{border-right:1px solid #696e6f}
.btn.grey-light{background-color:#d0d3d4;color:white}
.btn.grey-light:hover{background-color:#919394;color:white}
.btn.grey-light:hover .btn-cta{background-color:#919394}
.btn.grey-light .btn-cta{background-color:#d0d3d4;border-left:1px solid #878989}
.btn.grey-light .btn-cta span{background-color:#878989}
html.RTL .btn.grey-light .btn-cta{border-right:1px solid #878989}
.btn.grey-lighter{background-color:#f4f4f4;color:white}
.btn.grey-lighter:hover{background-color:#aaa;color:white}
.btn.grey-lighter:hover .btn-cta{background-color:#aaa}
.btn.grey-lighter .btn-cta{background-color:#f4f4f4;border-left:1px solid #9e9e9e}
.btn.grey-lighter .btn-cta span{background-color:#9e9e9e}
html.RTL .btn.grey-lighter .btn-cta{border-right:1px solid #9e9e9e}
.btn.grey-dark{background-color:#5b6770;color:white}
.btn.grey-dark:hover{background-color:#3f484e;color:white}
.btn.grey-dark:hover .btn-cta{background-color:#3f484e}
.btn.grey-dark .btn-cta{background-color:#5b6770;border-left:1px solid #3b4248}
.btn.grey-dark .btn-cta span{background-color:#3b4248}
html.RTL .btn.grey-dark .btn-cta{border-right:1px solid #3b4248}
.btn.grey-darker{background-color:#333;color:white}
.btn.grey-darker:hover{background-color:#232323;color:white}
.btn.grey-darker:hover .btn-cta{background-color:#232323}
.btn.grey-darker .btn-cta{background-color:#333;border-left:1px solid #212121}
.btn.grey-darker .btn-cta span{background-color:#212121}
html.RTL .btn.grey-darker .btn-cta{border-right:1px solid #212121}
a,.btn-link{color:#008e96}
a:hover,.btn-link:hover{text-decoration:none !important}
a:hover,.btn-link:hover{color:#006369}
a.red,.btn-link.red{color:#c00}
a.red:hover,.btn-link.red:hover{color:#8e0000}
a.violet,.btn-link.violet{color:#514689}
a.violet:hover,.btn-link.violet:hover{color:#38315f}
a.plum,.btn-link.plum{color:#820f71}
a.plum:hover,.btn-link.plum:hover{color:#5b0a4f}
a.orange,.btn-link.orange{color:#e35205}
a.orange:hover,.btn-link.orange:hover{color:#9e3903}
a.green,.btn-link.green{color:#4c8c2b}
a.green:hover,.btn-link.green:hover{color:#35621e}
a.yellow,.btn-link.yellow{color:#f90}
a.yellow:hover,.btn-link.yellow:hover{color:#b26b00}
a.gray,.btn-link.gray{color:#a2aaac}
a.gray:hover,.btn-link.gray:hover{color:#717678}
a.grey,.btn-link.grey{color:#a2aaac}
a.grey:hover,.btn-link.grey:hover{color:#717678}
a.grey-light,.btn-link.grey-light{color:#d0d3d4}
a.grey-light:hover,.btn-link.grey-light:hover{color:#919394}
a.grey-lighter,.btn-link.grey-lighter{color:#f4f4f4}
a.grey-lighter:hover,.btn-link.grey-lighter:hover{color:#aaa}
a.grey-dark,.btn-link.grey-dark{color:#5b6770}
a.grey-dark:hover,.btn-link.grey-dark:hover{color:#3f484e}
a.grey-darker,.btn-link.grey-darker{color:#333}
a.grey-darker:hover,.btn-link.grey-darker:hover{color:#232323}
.btn-link{padding:0;margin:0;border:0}
a.bold{font-weight:700}
a.small{font-size:14px}
a.cta{font-size:24px;line-height:1.15;display:inline-block}
.cta-group{padding:0;text-align:center;font-size:0}
.cta-group .cta{margin-top:20px}
.cta-group .cta.link{padding:0 40px;clear:both;display:inline-block}
@media(max-width:480px){.cta-group .cta.link{padding:0}
}
.cta-group .cta.link+.link{border-left:1px solid #008e96}
@media(max-width:480px){.cta-group .cta.link+.link{border:0;clear:both}
}
.cta-group .cta.btn+.cta.btn{margin-left:20px}
html.RTL .btn span.btn-cta{right:auto;left:0;border-left:0}
html.RTL .btn span.btn-cta span.icon-default{background-image:url(../images/buttons/cta-default-rtl.png)}
html.RTL .btn span.btn-cta span.icon-article-modal{background-image:url(../images/buttons/cta-new-window-rtl.png)}
html.RTL .btn span.btn-cta span.icon-new-window{background-image:url(../images/buttons/cta-new-window-rtl.png)}
html.RTL .btn span.btn-cta span.icon-search{background-image:url(../images/buttons/cta-search-rtl.png)}
html.RTL .cta-group .cta.link+.cta.link{border-left:0;border-right:1px solid #008e96}
html.RTL .cta-group .cta.btn+.cta.btn{margin-right:20px}
.flag{display:table;width:100%}
.flag__image,.flag__body{display:table-cell;vertical-align:middle}
.flag--top .flag__image,.flag--top .flag__body{vertical-align:top}
.flag--bottom .flag__image,.flag--bottom .flag__body{vertical-align:bottom}
.flag__image{padding-right:10px}
.flag__image>img{display:block;max-width:none}
.flag--rev .flag__image{padding-right:0;padding-left:10px}
html.RTL .flag__image{padding-right:0;padding-left:10px}
.flag__body{width:100%}
input,select,textarea{font-size:14px}
.bootstrap-select.btn-group .btn.btn-default{background:white;color:black;font-size:14px;font-weight:300;text-transform:none;padding:11px 25px 11px 8px}
.bootstrap-select.btn-group .btn.btn-default.btn-default:hover,.bootstrap-select.btn-group .btn.btn-default.btn-default:focus,.bootstrap-select.btn-group .btn.btn-default.btn-default:active,.bootstrap-select.btn-group .btn.btn-default.btn-default.active{background:white;color:black}
.bootstrap-select.btn-group .btn.btn-default.btn-default span{white-space:nowrap}
.bootstrap-select.btn-group .btn.btn-default .caret{height:8px;border:0;right:18px}
.bootstrap-select.btn-group .btn.btn-default .caret:before,.bootstrap-select.btn-group .btn.btn-default .caret:after{position:absolute;display:block;content:"";border:4px solid transparent}
.bootstrap-select.btn-group .btn.btn-default .caret:before{top:0;border-top-color:black}
.bootstrap-select.btn-group .btn.btn-default .caret:after{top:-1px;border-top-color:white}
.bootstrap-select.btn-group .dropdown-menu{border:0;padding:0}
.bootstrap-select.btn-group .dropdown-menu>li>a{font-size:14px;padding:3px 10px}
.bootstrap-select.btn-group.open .btn-default.dropdown-toggle{background:white}
.bootstrap-select.btn-group.open .btn-default.dropdown-toggle .caret{margin-top:-6px}
.bootstrap-select.btn-group.open .btn-default.dropdown-toggle .caret:before{border-top-color:transparent;border-bottom-color:black}
.bootstrap-select.btn-group.open .btn-default.dropdown-toggle .caret:after{top:1px;border-top-color:transparent;border-bottom-color:white}
.bootstrap-select.btn-group.open .dropdown-menu{width:100%}
.mc-form{padding:60px 100px}
.mc-form a{color:white}
.mc-form input,.mc-form select{border-radius:0}
.mc-form input[type="radio"]:checked{color:#a2aaac}
.mc-form input.h2{background:transparent;border:0;border-bottom:1px solid white;box-shadow:none;color:white;height:auto;margin:0;padding:0}
.mc-form input.h2::-webkit-input-placeholder{color:white}
.mc-form input.h2:-moz-placeholder{color:white;opacity:1}
.mc-form input.h2::-moz-placeholder{color:white;opacity:1}
.mc-form input.h2:-ms-input-placeholder{color:white}
.mc-form input.h2:hover,.mc-form input.h2:focus{background:black;background:rgba(0,0,0,0.05);-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.mc-form p{color:#3a3a3a;margin:5px 0 0 0}
.mc-form *::-webkit-input-placeholder{color:#a2aaac}
.mc-form *:-moz-placeholder{color:#a2aaac;opacity:1}
.mc-form *::-moz-placeholder{color:#a2aaac;opacity:1}
.mc-form *:-ms-input-placeholder{color:#a2aaac}
.mc-form .form-group{padding-right:40px;vertical-align:top}
.mc-form .form-group:last-child{padding-right:0}
@media(max-width:480px){.mc-form .form-group{padding-right:0}
}
.mc-form .radios{margin:6px 0}
@media(max-width:768px){.mc-form{padding:40px}
}
.mc-form__input-group>*{vertical-align:bottom}
.mc-form__input-group button.btn{padding:12px 30px}
.mc-form__input-group input.h2{background:white;border:1px solid #d0d3d4;border-right:0;box-shadow:none;color:#a2aaac;float:left;height:auto;margin:0;padding:2px}
.mc-form__input-group input.h2::-webkit-input-placeholder{color:white}
.mc-form__input-group input.h2:-moz-placeholder{color:white;opacity:1}
.mc-form__input-group input.h2::-moz-placeholder{color:white;opacity:1}
.mc-form__input-group input.h2:-ms-input-placeholder{color:white}
.mc-form__input-group input.h2:hover{background:#d0d3d4;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.mc-form__input-group input.h2:focus{background:white !important}
.mc-form-marquee .visitor,.mc-form-marquee .mobile{border:0;color:#3a3a3a;margin:0;padding:10px 0;text-align:center}
.mc-form-marquee .visitor a,.mc-form-marquee .mobile a{color:white}
.mc-form-marquee .visitor a:hover,.mc-form-marquee .mobile a:hover{color:black;text-decoration:none}
.mc-form-marquee .visitor img,.mc-form-marquee .mobile img{float:left}
.mc-form-marquee .visitor .close,.mc-form-marquee .mobile .close{color:white;margin:0 10px 0 0;opacity:1}
.mc-form-marquee .visitor .close:hover,.mc-form-marquee .visitor .close:focus,.mc-form-marquee .mobile .close:hover,.mc-form-marquee .mobile .close:focus{opacity:.7}
.mc-form-marquee .visitor .close>span,.mc-form-marquee .mobile .close>span{background:url("../images/close-x-white.png") no-repeat;text-indent:-9999px;width:21px;display:-moz-inline-stack;display:inline-block;vertical-align:middle;*vertical-align:auto;zoom:1;*display:inline}
@media(max-width:480px){.mc-form-marquee .visitor{display:none}
}
.mc-form-marquee .mobile{background:#f4f4f4}
.mc-form-marquee .mobile a{color:#008e96}
.mc-form-marquee .mobile a:hover{color:#00535e}
.mc-form-marquee .mobile .close{opacity:.7}
.mc-form-marquee .mobile .close:hover,.mc-form-marquee .mobile .close:focus{opacity:1}
.mc-form-marquee .mobile .close>span{background:url("../images/close-x.png") no-repeat}
@media(min-width:480px){.mc-form-marquee .mobile{display:none}
}
span.icon-announcement{background:url(../images/icons/announcement.png) no-repeat center center;display:inline-block;height:21px;margin:0 20px;width:21px}
.error-banner{display:none;width:100%;background:red;text-align:center;color:white;padding:15px;font-weight:20px}
.error-banner-flash{position:fixed;z-index:100000}
.checkbox label{color:#00b3b4}
.bootstrap-checkbox{margin-left:5px;margin-right:5px}
.bootstrap-checkbox>button.btn{background:white;border:1px solid #00b3b4;border-radius:3px;color:white;font-size:15px;height:18px;padding:0;-webkit-transition:background .2s linear;-moz-transition:background .2s linear;-o-transition:background .2s linear;transition:background .2s linear;width:18px}
.bootstrap-checkbox>button.btn:hover,.bootstrap-checkbox>button.btn:focus{color:white}
.bootstrap-checkbox>button.btn.displayAsButton{width:auto}
.bootstrap-checkbox>button.btn.displayAsButton>span.label-checkbox{padding:0}
.bootstrap-checkbox>button.btn.displayAsButton>span.icon{margin:0}
.bootstrap-checkbox>button.btn.displayAsButton>span.label-prepend-checkbox{padding:0}
.bootstrap-checkbox>button.btn-active{background:#00b3b4}
.bootstrap-checkbox>.btn.btn-link{text-decoration:none}
.bootstrap-checkbox>.label-prepend-checkbox{padding-right:4px}
.bootstrap-checkbox>.label-checkbox{padding-left:4px}
.bootstrap-checkbox.disabled>[class^="label-"],.bootstrap-checkbox>.btn[disabled]{cursor:not-allowed}
label.bootstrap-checkbox.disabled{color:#a2aaac;cursor:default}
[class^="cb-icon-"],[class*=" cb-icon-"],.bootstrap-checkbox [class^="icon"]{width:14px;height:14px;*margin-right:.3em;vertical-align:text-top;position:relative;top:-1px;display:inline-block;font-family:'Glyphicons Halflings';font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.cb.validatr-error .mcform__input{width:40%}
@media(max-width:768px){.cb.validatr-error .mcform__input{width:40%}
}
@media only screen and (max-width:768px){.mcform__field.cb .mcform__input{width:100%}
}
.mc-radio{display:none}
html.lte8 .mc-radio{display:block;margin-left:0 !important}
.mc-radio+label{cursor:pointer;display:inline-block;margin-bottom:0;margin-right:10px;padding-left:22px;position:relative}
html.RTL .mc-radio+label{margin-left:10px;padding-right:22px;margin-right:0;padding-left:0}
html.lte8 .mc-radio+label:before{display:none !important}
.mc-radio+label:before{background-color:#d0d3d4;border-radius:7px;box-shadow:inset 0 1px 1px 0 rgba(0,0,0,0.3),0 1px 0 0 rgba(255,255,255,0.4);content:"";display:inline-block;height:14px;left:0;margin-right:10px;position:absolute;top:5px;width:14px}
.mc-radio:checked+label:before{background-color:#00b3b4;color:#f4f4f4;content:"\2022";font-size:21px;line-height:14px;text-align:center}
html.RTL .mc-radio+label:before{left:auto;right:0;margin-right:0;margin-left:10px}
html{font-weight:300}
img{max-width:100%}
.component-config{display:none}
.list-no-indent{margin:0;padding:0;list-style-position:inside}
.image{overflow:hidden;position:relative}
.image.section{line-height:0 !important}
.container-fluid,.contentpar,.container-fluid:focus,.contentpar:focus{outline:0}
.gradient-red{background-color:#c00 !important}
.gradient-red-reverse{background-color:#c00 !important}
.gradient-orange{background-color:#e35205 !important}
.gradient-orange-reverse{background-color:#e35205 !important}
.gradient-yellow{background-color:#f90 !important}
.gradient-yellow-reverse{background-color:#f90 !important}
.gradient-green{background-color:#4c8c2b !important}
.gradient-green-reverse{background-color:#4c8c2b !important}
.gradient-teal{background-color:#008e96 !important}
.gradient-teal-reverse{background-color:#008e96 !important}
.gradient-plum{background-color:#820f71 !important}
.gradient-plum-reverse{background-color:#820f71 !important}
.gradient-violet{background-color:#514689 !important}
.gradient-violet-reverse{background-color:#514689 !important}
.gradient-white{background-color:white !important;color:black}
.gradient-white-reverse{background-color:white !important;color:black}
.gradient-gray{background-color:#d0d3d4 !important}
.gradient-gray-reverse{background-color:#d0d3d4 !important}
.gradient-gray-light{background-color:#dbdcdc !important}
.gradient-gray-light-reverse{background-color:#dbdcdc !important}
.gradient-gray-dark{background-color:#5b6770 !important}
.gradient-gray-dark-reverse{background-color:#5b6770 !important}
.gradient-grey{background-color:#a2aaac !important}
.gradient-grey{background-color:#a2aaac !important}
.gradient-grey-light{background-color:#d0d3d4 !important}
.gradient-grey-light{background-color:#d0d3d4 !important}
.gradient-grey-lighter{background-color:#f4f4f4 !important}
.gradient-grey-lighter{background-color:#f4f4f4 !important}
.gradient-grey-dark{background-color:#5b6770 !important}
.gradient-grey-dark{background-color:#5b6770 !important}
.gradient-grey-darker{background-color:#333 !important}
.gradient-grey-darker{background-color:#333 !important}
html.RTL .col-xs-1,html.RTL .col-xs-2,html.RTL .col-xs-3,html.RTL .col-xs-4,html.RTL .col-xs-5,html.RTL .col-xs-6,html.RTL .col-xs-7,html.RTL .col-xs-8,html.RTL .col-xs-9,html.RTL .col-xs-10,html.RTL .col-xs-11,html.RTL .col-xs-12{float:right}
@media(min-width:768px){html.RTL .col-sm-1,html.RTL .col-sm-2,html.RTL .col-sm-3,html.RTL .col-sm-4,html.RTL .col-sm-5,html.RTL .col-sm-6,html.RTL .col-sm-7,html.RTL .col-sm-8,html.RTL .col-sm-9,html.RTL .col-sm-10,html.RTL .col-sm-11,html.RTL .col-sm-12{float:right}
}
@media(min-width:1024px){html.RTL .col-lg-1,html.RTL .col-lg-2,html.RTL .col-lg-3,html.RTL .col-lg-4,html.RTL .col-lg-5,html.RTL .col-lg-6,html.RTL .col-lg-7,html.RTL .col-lg-8,html.RTL .col-lg-9,html.RTL .col-lg-10,html.RTL .col-lg-11,html.RTL .col-lg-12{float:right}
}
@media(min-width:1400px){html.RTL .col-lg-1,html.RTL .col-lg-2,html.RTL .col-lg-3,html.RTL .col-lg-4,html.RTL .col-lg-5,html.RTL .col-lg-6,html.RTL .col-lg-7,html.RTL .col-lg-8,html.RTL .col-lg-9,html.RTL .col-lg-10,html.RTL .col-lg-11,html.RTL .col-lg-12{float:right}
}
html.RTL .pull-right{float:left !important}
html.RTL .col-sm-offset-2{margin-right:16.66667%}
@media(max-width:767px){.modal-dialog .modal-content{overflow-y:auto}
}
.modal{z-index:999999}
.modal-header .close{margin-top:0;filter:alpha(opacity=70);opacity:.7}
.modal-header .close:hover,.modal-header .close:focus{filter:alpha(opacity=100);opacity:1}
.modal-header .close>span{background:url("../images/close-x.png") no-repeat;text-indent:-9999px;width:21px;height:21px;display:-moz-inline-stack;display:inline-block;vertical-align:middle;*vertical-align:auto;zoom:1;*display:inline}
.modal-lg{max-width:100%}
#general-content-modal{padding:0 100px}
#general-content-modal button.close{position:absolute;top:0;right:100px}
#general-content-modal button.close>span{display:-moz-inline-stack;display:inline-block;vertical-align:middle;*vertical-align:auto;zoom:1;*display:inline;background:url("../images/close-x-white.png") no-repeat;height:21px;margin:10px 10px 0 0;text-indent:-9999px;width:21px}
@media(max-width:1023px){#general-content-modal{padding:0 25px}
}
@media(max-width:767px){#general-content-modal{padding:0 5px}
}
.bootstrap-select.btn-group:not(.input-group-btn),.bootstrap-select.btn-group[class*="span"]{margin-bottom:0}
.bootstrap-select{height:41px;text-align:left}
.bootstrap-select:not([class*="span"]){width:220px}
.bootstrap-select .dropdown-menu{margin-top:0}
html.RTL .bootstrap-select{text-align:right}
.bootstrap-select.btn-group .btn.btn-default{border:1px solid transparent;border-radius:0;color:#a2aaac;font-style:italic;font-weight:bold;padding:10px 25px 10px 8px}
.bootstrap-select.btn-group .btn.btn-default:focus{color:#222}
.bootstrap-select .dropdown-menu{font-style:italic}
.bootstrap-select.btn-group .dropdown-menu>li>a{padding:6px 10px}
.mc-select-outlined .bootstrap-select.btn-group .btn.btn-default{border-color:#a2aaac;border-radius:.3em}
.mc-select-outlined .bootstrap-select.btn-group .btn.btn-default:hover{border-color:#a2aaac}
.bootstrap-select.btn-group .btn .caret,.bootstrap-select.btn-group .btn.btn-default .caret{background-color:white;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAM1BMVEXi4uLm5ubc3Nzt7e3p6ekSEhIODg7h4eHZ2dnW1tarq6tVVVUAAAC5ubm0tLRra2smJiaC1R2hAAAAQklEQVQY02MgGjCyoPE5+JiR+SyM3KxczEjy7Nw8PGzIIvxsrKxsArxwc9g5mYCAk4MBUwBTC6ahmNYiHIbhdGIBAP04Ad17TIMqAAAAAElFTkSuQmCC);background-repeat:no-repeat;background-position:right center;background-size:100%;border:0;height:16px;margin-top:-8px;right:8px;width:16px}
.bootstrap-select.btn-group .btn .caret:before,.bootstrap-select.btn-group .btn .caret:after,.bootstrap-select.btn-group .btn.btn-default .caret:before,.bootstrap-select.btn-group .btn.btn-default .caret:after{display:none}
html.RTL .bootstrap-select.btn-group .btn .caret,html.RTL .bootstrap-select.btn-group .btn.btn-default .caret{right:auto;left:8px}
.bootstrap-select.btn-group.open .btn-default.dropdown-toggle .caret{margin-top:-8px}
html.RTL .bootstrap-select.btn-group .btn .filter-option{text-align:right}
.nav-tab-scroll-container{padding-bottom:15px}
.nav-tab-wrapper{background-color:#d0d3d4;color:#333;display:table;table-layout:fixed;margin:0;padding:0;position:relative;width:100%}
.nav-tabs{border:0;display:table-row}
.nav-tabs:before,.nav-tabs:after{display:none}
.nav-tabs>li{border-right:solid 1px #f4f4f4;cursor:pointer;display:table-cell;float:none;margin-bottom:0;position:relative}
.nav-tabs>li:first-child{border-left:solid 1px white}
.nav-tabs>li.last{border:0}
.nav-tabs>li>a{border:0;color:#333 !important;margin:0;padding:12px;text-align:center}
.nav-tabs>li>a:hover,.nav-tabs>li>a:focus{background:transparent;border:0}
.nav-tabs>li:hover,.nav-tabs>li:focus{background:#f4f4f4;border-color:transparent;color:#333 !important}
.nav-tabs>li:hover+li,.nav-tabs>li:focus+li{border-left-color:transparent}
.nav-tabs>li.active{background:white;border-color:transparent;color:#333 !important}
.nav-tabs>li.active+li{border-left-color:transparent}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus{border:0}
@media(max-width:767px){.nav-tab-scroll-container{overflow:hidden}
.nav-tab-wrapper{width:900px;padding:0}
}
h1,.h1{font-size:60px;font-weight:200;letter-spacing:0}
h2,.h2{font-size:36px;font-weight:200;letter-spacing:-1px;line-height:1}
h3,.h3{font-size:21px;font-weight:300;letter-spacing:0;line-height:1.25}
@media(max-width:767px){h1,.h1{font-size:36px;font-weight:200;letter-spacing:-1px}
h2,.h2{font-size:36px;font-weight:200;letter-spacing:-1px}
h3,.h3{font-size:21px;font-weight:300;letter-spacing:0}
}
.slick-slider{margin-bottom:0}
.modal .modal-header{border:0}
.modal .backdrop .in{opacity:.8}
.videos iframe{width:100%;position:absolute;top:0;bottom:0;left:0;height:100%}
.videos.videomultiple .modal-content{background:0;box-shadow:none;border:0}
.videos.videomultiple .modal-header{border:0;display:none}
.videos.videomultiple .modal-body{padding:0 0 56.25% 0;position:relative;height:0}
.myvideo .image.content-feed-item.disable-image-link{position:static}
.myvideo .image.content-feed-item{position:static}
.image {width:auto; height: 446px; margin-left: -271.5px;}
